<!DOCTYPE html>
<html lang="ja">
<head><script type="text/javascript" async="" src="https://www.google-analytics.com/analytics.js"></script><script type="text/javascript" async="" src="https://www.googletagmanager.com/gtag/js?id=UA-38417733-17&amp;l=dataLayer&amp;cx=c"></script><script type="text/javascript" async="" src="https://www.google-analytics.com/analytics.js"></script><script id="ga-gtag" type="text/javascript" async="" src="https://www.googletagmanager.com/gtag/js?id=UA-38417733-1"></script>
        <meta charset="utf-8">
        <title>Freelancer - Theme Preview - Start Bootstrap</title>
        <base href="/">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <meta name="msapplication-TileColor" content="#dd3d31">
        <meta name="theme-color" content="#dd3d31">
        <style type="text/css">svg:not(:root).svg-inline--fa {
  overflow: visible;
}

.svg-inline--fa {
  display: inline-block;
  font-size: inherit;
  height: 1em;
  overflow: visible;
  vertical-align: -0.125em;
}
.svg-inline--fa.fa-lg {
  vertical-align: -0.225em;
}
.svg-inline--fa.fa-w-1 {
  width: 0.0625em;
}
.svg-inline--fa.fa-w-2 {
  width: 0.125em;
}
.svg-inline--fa.fa-w-3 {
  width: 0.1875em;
}
.svg-inline--fa.fa-w-4 {
  width: 0.25em;
}
.svg-inline--fa.fa-w-5 {
  width: 0.3125em;
}
.svg-inline--fa.fa-w-6 {
  width: 0.375em;
}
.svg-inline--fa.fa-w-7 {
  width: 0.4375em;
}
.svg-inline--fa.fa-w-8 {
  width: 0.5em;
}
.svg-inline--fa.fa-w-9 {
  width: 0.5625em;
}
.svg-inline--fa.fa-w-10 {
  width: 0.625em;
}
.svg-inline--fa.fa-w-11 {
  width: 0.6875em;
}
.svg-inline--fa.fa-w-12 {
  width: 0.75em;
}
.svg-inline--fa.fa-w-13 {
  width: 0.8125em;
}
.svg-inline--fa.fa-w-14 {
  width: 0.875em;
}
.svg-inline--fa.fa-w-15 {
  width: 0.9375em;
}
.svg-inline--fa.fa-w-16 {
  width: 1em;
}
.svg-inline--fa.fa-w-17 {
  width: 1.0625em;
}
.svg-inline--fa.fa-w-18 {
  width: 1.125em;
}
.svg-inline--fa.fa-w-19 {
  width: 1.1875em;
}
.svg-inline--fa.fa-w-20 {
  width: 1.25em;
}
.svg-inline--fa.fa-pull-left {
  margin-right: 0.3em;
  width: auto;
}
.svg-inline--fa.fa-pull-right {
  margin-left: 0.3em;
  width: auto;
}
.svg-inline--fa.fa-border {
  height: 1.5em;
}
.svg-inline--fa.fa-li {
  width: 2em;
}
.svg-inline--fa.fa-fw {
  width: 1.25em;
}

.fa-layers svg.svg-inline--fa {
  bottom: 0;
  left: 0;
  margin: auto;
  position: absolute;
  right: 0;
  top: 0;
}

.fa-layers {
  display: inline-block;
  height: 1em;
  position: relative;
  text-align: center;
  vertical-align: -0.125em;
  width: 1em;
}
.fa-layers svg.svg-inline--fa {
  -webkit-transform-origin: center center;
          transform-origin: center center;
}

.fa-layers-counter, .fa-layers-text {
  display: inline-block;
  position: absolute;
  text-align: center;
}

.fa-layers-text {
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  -webkit-transform-origin: center center;
          transform-origin: center center;
}

.fa-layers-counter {
  background-color: #ff253a;
  border-radius: 1em;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  color: #fff;
  height: 1.5em;
  line-height: 1;
  max-width: 5em;
  min-width: 1.5em;
  overflow: hidden;
  padding: 0.25em;
  right: 0;
  text-overflow: ellipsis;
  top: 0;
  -webkit-transform: scale(0.25);
          transform: scale(0.25);
  -webkit-transform-origin: top right;
          transform-origin: top right;
}

.fa-layers-bottom-right {
  bottom: 0;
  right: 0;
  top: auto;
  -webkit-transform: scale(0.25);
          transform: scale(0.25);
  -webkit-transform-origin: bottom right;
          transform-origin: bottom right;
}

.fa-layers-bottom-left {
  bottom: 0;
  left: 0;
  right: auto;
  top: auto;
  -webkit-transform: scale(0.25);
          transform: scale(0.25);
  -webkit-transform-origin: bottom left;
          transform-origin: bottom left;
}

.fa-layers-top-right {
  right: 0;
  top: 0;
  -webkit-transform: scale(0.25);
          transform: scale(0.25);
  -webkit-transform-origin: top right;
          transform-origin: top right;
}

.fa-layers-top-left {
  left: 0;
  right: auto;
  top: 0;
  -webkit-transform: scale(0.25);
          transform: scale(0.25);
  -webkit-transform-origin: top left;
          transform-origin: top left;
}

.fa-lg {
  font-size: 1.3333333333em;
  line-height: 0.75em;
  vertical-align: -0.0667em;
}

.fa-xs {
  font-size: 0.75em;
}

.fa-sm {
  font-size: 0.875em;
}

.fa-1x {
  font-size: 1em;
}

.fa-2x {
  font-size: 2em;
}

.fa-3x {
  font-size: 3em;
}

.fa-4x {
  font-size: 4em;
}

.fa-5x {
  font-size: 5em;
}

.fa-6x {
  font-size: 6em;
}

.fa-7x {
  font-size: 7em;
}

.fa-8x {
  font-size: 8em;
}

.fa-9x {
  font-size: 9em;
}

.fa-10x {
  font-size: 10em;
}

.fa-fw {
  text-align: center;
  width: 1.25em;
}

.fa-ul {
  list-style-type: none;
  margin-left: 2.5em;
  padding-left: 0;
}
.fa-ul > li {
  position: relative;
}

.fa-li {
  left: -2em;
  position: absolute;
  text-align: center;
  width: 2em;
  line-height: inherit;
}

.fa-border {
  border: solid 0.08em #eee;
  border-radius: 0.1em;
  padding: 0.2em 0.25em 0.15em;
}

.fa-pull-left {
  float: left;
}

.fa-pull-right {
  float: right;
}

.fa.fa-pull-left,
.fas.fa-pull-left,
.far.fa-pull-left,
.fal.fa-pull-left,
.fab.fa-pull-left {
  margin-right: 0.3em;
}
.fa.fa-pull-right,
.fas.fa-pull-right,
.far.fa-pull-right,
.fal.fa-pull-right,
.fab.fa-pull-right {
  margin-left: 0.3em;
}

.fa-spin {
  -webkit-animation: fa-spin 2s infinite linear;
          animation: fa-spin 2s infinite linear;
}

.fa-pulse {
  -webkit-animation: fa-spin 1s infinite steps(8);
          animation: fa-spin 1s infinite steps(8);
}

@-webkit-keyframes fa-spin {
  0% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}

@keyframes fa-spin {
  0% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}
.fa-rotate-90 {
  -ms-filter: "progid:DXImageTransform.Microsoft.BasicImage(rotation=1)";
  -webkit-transform: rotate(90deg);
          transform: rotate(90deg);
}

.fa-rotate-180 {
  -ms-filter: "progid:DXImageTransform.Microsoft.BasicImage(rotation=2)";
  -webkit-transform: rotate(180deg);
          transform: rotate(180deg);
}

.fa-rotate-270 {
  -ms-filter: "progid:DXImageTransform.Microsoft.BasicImage(rotation=3)";
  -webkit-transform: rotate(270deg);
          transform: rotate(270deg);
}

.fa-flip-horizontal {
  -ms-filter: "progid:DXImageTransform.Microsoft.BasicImage(rotation=0, mirror=1)";
  -webkit-transform: scale(-1, 1);
          transform: scale(-1, 1);
}

.fa-flip-vertical {
  -ms-filter: "progid:DXImageTransform.Microsoft.BasicImage(rotation=2, mirror=1)";
  -webkit-transform: scale(1, -1);
          transform: scale(1, -1);
}

.fa-flip-both, .fa-flip-horizontal.fa-flip-vertical {
  -ms-filter: "progid:DXImageTransform.Microsoft.BasicImage(rotation=2, mirror=1)";
  -webkit-transform: scale(-1, -1);
          transform: scale(-1, -1);
}

:root .fa-rotate-90,
:root .fa-rotate-180,
:root .fa-rotate-270,
:root .fa-flip-horizontal,
:root .fa-flip-vertical,
:root .fa-flip-both {
  -webkit-filter: none;
          filter: none;
}

.fa-stack {
  display: inline-block;
  height: 2em;
  position: relative;
  width: 2.5em;
}

.fa-stack-1x,
.fa-stack-2x {
  bottom: 0;
  left: 0;
  margin: auto;
  position: absolute;
  right: 0;
  top: 0;
}

.svg-inline--fa.fa-stack-1x {
  height: 1em;
  width: 1.25em;
}
.svg-inline--fa.fa-stack-2x {
  height: 2em;
  width: 2.5em;
}

.fa-inverse {
  color: #fff;
}

.sr-only {
  border: 0;
  clip: rect(0, 0, 0, 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
}

.sr-only-focusable:active, .sr-only-focusable:focus {
  clip: auto;
  height: auto;
  margin: 0;
  overflow: visible;
  position: static;
  width: auto;
}

.svg-inline--fa .fa-primary {
  fill: var(--fa-primary-color, currentColor);
  opacity: 1;
  opacity: var(--fa-primary-opacity, 1);
}

.svg-inline--fa .fa-secondary {
  fill: var(--fa-secondary-color, currentColor);
  opacity: 0.4;
  opacity: var(--fa-secondary-opacity, 0.4);
}

.svg-inline--fa.fa-swap-opacity .fa-primary {
  opacity: 0.4;
  opacity: var(--fa-secondary-opacity, 0.4);
}

.svg-inline--fa.fa-swap-opacity .fa-secondary {
  opacity: 1;
  opacity: var(--fa-primary-opacity, 1);
}

.svg-inline--fa mask .fa-primary,
.svg-inline--fa mask .fa-secondary {
  fill: black;
}

.fad.fa-inverse {
  color: #fff;
}</style><link rel="icon" type="image/png" href="favicon.png">
        <link rel="preload" href="styles.css" as="style">
        <link rel="preload" href="styles-admin.css" as="style">
        <link rel="preload" href="styles-ui-kit.css" as="style">
        <link rel="preload" as="font" href="/assets/fonts/metropolis/Metropolis-SemiBold.otf" type="font/otf" crossorigin="anonymous">
        <link rel="preload" as="font" href="/assets/fonts/metropolis/Metropolis-Medium.otf" type="font/otf" crossorigin="anonymous">
        <link rel="preload" as="font" href="/assets/fonts/metropolis/Metropolis-Regular.otf" type="font/otf" crossorigin="anonymous">
        <link rel="preload" as="font" href="/assets/fonts/metropolis/Metropolis-Bold.otf" type="font/otf" crossorigin="anonymous">
        <link rel="preload" as="font" href="/assets/fonts/metropolis/Metropolis-RegularItalic.otf" type="font/otf" crossorigin="anonymous">
        <link rel="apple-touch-icon" sizes="180x180" href="https://assets.startbootstrap.com/img/icons/apple-touch-icon.png">
        <link rel="icon" type="image/png" sizes="32x32" href="https://assets.startbootstrap.com/img/icons/favicon-32x32.png">
        <link rel="icon" type="image/png" sizes="16x16" href="https://assets.startbootstrap.com/img/icons/favicon-16x16.png">
        <link rel="mask-icon" href="https://assets.startbootstrap.com/img/icons/safari-pinned-tab.svg" color="#dd3d31">
        <link rel="manifest" href="manifest.webmanifest">
        <script src="https://connect.facebook.net/signals/config/470997813790692?v=2.9.27&amp;r=stable" async=""></script>
        <script async="" src="https://connect.facebook.net/en_US/fbevents.js"></script>
        <script type="text/javascript" async="" src="https://www.gstatic.com/recaptcha/releases/1AZgzF1o3OlP73CVr69UmL65/recaptcha__en_gb.js" crossorigin="anonymous" integrity="sha384-KFd7vUbi7XnHKYqtu/xBtKbS9JWOLcrg5bq33+qcBTcEwi4Bmb7jTL9I06sM5+hZ"></script>
        <script src="https://www.google.com/recaptcha/api.js"></script>
        <script>
            !(function (f, b, e, v, n, t, s) {
                if (f.fbq) return;
                n = f.fbq = function () {
                    n.callMethod ? n.callMethod.apply(n, arguments) : n.queue.push(arguments);
                };
                if (!f._fbq) f._fbq = n;
                n.push = n;
                n.loaded = !0;
                n.version = '2.0';
                n.queue = [];
                t = b.createElement(e);
                t.async = !0;
                t.src = v;
                s = b.getElementsByTagName(e)[0];
                s.parentNode.insertBefore(t, s);
            })(window, document, 'script', 'https://connect.facebook.net/en_US/fbevents.js');
            fbq.disablePushState;
            fbq('init', '470997813790692');
        </script>
        <noscript><img height="1" width="1" style="display: none" src="https://www.facebook.com/tr?id=470997813790692&ev=PageView&noscript=1" /></noscript>
    <script charset="utf-8" src="3-es2015.840423758ac17854f6ac.js"></script>
    <script charset="utf-8" src="2-es2015.ac191279c574345c7ae2.js"></script>
    <script charset="utf-8" src="common-es2015.1e1c60d11de66cd35f92.js"></script>
    <script charset="utf-8" src="19-es2015.c797384cafc05d2ebde3.js"></script>
    <link id="sb-website-styles-css" rel="stylesheet" href="styles.css">
    <link id="sb-website-dynamic-css" rel="stylesheet" href="styles-ui-kit.css">
    <link rel="canonical" href="https://startbootstrap.com/previews/freelancer">
    <meta name="description" content="Freelancer is a responsive HTML Bootstrap theme for creating freelancer portfolio websites and other one page landing pages." data-dynamic="true">
    <meta name="og:description" content="Freelancer is a responsive HTML Bootstrap theme for creating freelancer portfolio websites and other one page landing pages." data-dynamic="true">
    <meta name="og:image" content="https://assets.startbootstrap.com/img/meta/products/og/og-image-freelancer.png" data-dynamic="true">
    <meta name="og:image:alt" content="Freelancer Preview Image" data-dynamic="true">
    <meta name="og:image:height" content="630" data-dynamic="true">
    <meta name="og:image:secure_url" content="https://assets.startbootstrap.com/img/meta/products/og/og-image-freelancer.png" data-dynamic="true">
    
    <meta name="og:image:width" content="1200" data-dynamic="true"><meta name="og:locale" content="en_US" data-dynamic="true">
    <meta name="og:site_name" content="Start Bootstrap" data-dynamic="true">
    <meta name="og:title" content="Freelancer - Theme Preview" data-dynamic="true">
    <meta name="og:type" content="website" data-dynamic="true">
    <meta name="og:url" content="https://startbootstrap.com/previews/freelancer" data-dynamic="true">
    <meta name="twitter:card" content="summary_large_image" data-dynamic="true">
    <meta name="twitter:description" content="Freelancer is a responsive HTML Bootstrap theme for creating freelancer portfolio websites and other one page landing pages." data-dynamic="true">
    <meta name="twitter:image" content="https://assets.startbootstrap.com/img/meta/products/twitter/twitter-image-freelancer.png" data-dynamic="true">
    <meta name="twitter:site" content="@SBootstrap" data-dynamic="true">
    <meta name="twitter:title" content="Freelancer - Theme Preview" data-dynamic="true"><style></style>
    <style>[_nghost-serverApp-c52]{position:fixed;top:0;right:0;margin:.5em;z-index:1200;width:350px}</style>
    <style>#overlay[_ngcontent-serverApp-c53]{display:flex;justify-content:center;position:fixed;top:0;left:0;width:100vw;height:100%;min-height:100vh;z-index:1090;background-color:rgba(0,0,0,.5)}</style>
    <style>.preview-container[_ngcontent-serverApp-c77]{height:100vh;background-color:#212832}.preview-bar[_ngcontent-serverApp-c77]{height:63px}.preview-bar[_ngcontent-serverApp-c77]   .responsive-toggler[_ngcontent-serverApp-c77]{display:flex}.preview-bar[_ngcontent-serverApp-c77]   .responsive-toggler.active[_ngcontent-serverApp-c77]{color:#dc392d}.dropdown-licenses[_ngcontent-serverApp-c77]{display:inline-block}.dropdown-licenses[_ngcontent-serverApp-c77]   .features-list[_ngcontent-serverApp-c77]{color:#a7aeb8;font-size:.875em;padding-left:1rem}.iframe-preview[_ngcontent-serverApp-c77]{position:absolute;height:calc(100% - 63px);width:100%;border:none;margin-top:63px}.iframe-preview-full[_ngcontent-serverApp-c77]{height:100%!important;margin-top:0!important}.iframe-preview-mobile[_ngcontent-serverApp-c77]{width:375px;left:50%;transform:translateX(-50%)}.iframe-preview-tablet[_ngcontent-serverApp-c77]{width:768px;left:50%;transform:translateX(-50%)}.border-bottom-primary[_ngcontent-serverApp-c77]{border-bottom:3px solid #c5ccd6}</style>
    <style>ngb-tooltip-window.bs-tooltip-bottom .arrow,ngb-tooltip-window.bs-tooltip-top .arrow{left:calc(50% - .4rem)}ngb-tooltip-window.bs-tooltip-bottom-left .arrow,ngb-tooltip-window.bs-tooltip-top-left .arrow{left:1em}ngb-tooltip-window.bs-tooltip-bottom-right .arrow,ngb-tooltip-window.bs-tooltip-top-right .arrow{left:auto;right:.8rem}ngb-tooltip-window.bs-tooltip-left .arrow,ngb-tooltip-window.bs-tooltip-right .arrow{top:calc(50% - .4rem)}ngb-tooltip-window.bs-tooltip-left-top .arrow,ngb-tooltip-window.bs-tooltip-right-top .arrow{top:.4rem}ngb-tooltip-window.bs-tooltip-left-bottom .arrow,ngb-tooltip-window.bs-tooltip-right-bottom .arrow{top:auto;bottom:.4rem}</style>
    </head>

    <body>
        
        
        
        
       
        
        
        
       
        
        <div _ngcontent-serverapp-c77="" class="col text-right"><!-- 必要 -->
        <svg role="img" aria-hidden="true" focusable="false" data-prefix="fal" data-icon="times" class="svg-inline--fa fa-times fa-w-10" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 320 512">
        <path fill="currentColor" d="M193.94 256L296.5 153.44l21.15-21.15c3.12-3.12 3.12-8.19 0-11.31l-22.63-22.63c-3.12-3.12-8.19-3.12-11.31 0L160 222.06 36.29 98.34c-3.12-3.12-8.19-3.12-11.31 0L2.34 120.97c-3.12 3.12-3.12 8.19 0 11.31L126.06 256 2.34 379.71c-3.12 3.12-3.12 8.19 0 11.31l22.63 22.63c3.12 3.12 8.19 3.12 11.31 0L160 289.94 262.56 392.5l21.15 21.15c3.12 3.12 8.19 3.12 11.31 0l22.63-22.63c3.12-3.12 3.12-8.19 0-11.31L193.94 256z">
        </path>
        </svg>
        </fa-icon>
        </button>
        </div>
        </div>
        </div>
        </div><!---->
        <iframe _ngcontent-serverapp-c77="" width="100%" class="iframe-preview" src="https://startbootstrap.github.io/startbootstrap-freelancer/">
        </iframe>
        </div><!---->
        </sbw-preview><!---->
        </app-root>
    <script src="runtime-es2015.3f082fee1b547700f781.js" crossorigin="anonymous" type="module">
    </script>
    <script src="runtime-es5.3f082fee1b547700f781.js" crossorigin="anonymous" nomodule="" defer="">
    </script>
    <script src="polyfills-es5.3e7c51604163040fd900.js" crossorigin="anonymous" nomodule="" defer="">
    </script>
    <script src="polyfills-es2015.71f17b9e97d6d9a404b0.js" crossorigin="anonymous" type="module">
    </script>
    <script src="scripts.7db5a8a1df1d2146c813.js" crossorigin="anonymous" defer="">
    </script>
    <script src="vendor-es2015.0ba2fbc53b3e790dde1b.js" crossorigin="anonymous" type="module">
    </script>
    <script src="vendor-es5.0ba2fbc53b3e790dde1b.js" crossorigin="anonymous" nomodule="" defer="">
    </script>
    <script src="main-es2015.d7ad4452717cfd7f4e1b.js" crossorigin="anonymous" type="module">
    </script>
    <script src="main-es5.d7ad4452717cfd7f4e1b.js" crossorigin="anonymous" nomodule="" defer="">
    </script>

    </body>

</html>