<div class="top-main">
<div class="vertical" class="right">
<h1><ruby>五七五歌会<rt>GO-SHICHI-GO</rt></ruby></h1>
<p><ruby>一句<rt>いっく</rt>、詠み<rt>よ</rt>ましょう。</ruby></p>
</div>
</div>

<a href="/about">五七五歌会について</a>
