<div class="top-main">
  
  <div class="vertical">
    <div class="title-place">
      <h1><ruby>GO SHICHI GO<rt>ご・しち・ご</rt></ruby></h1>
    </div>
    <p><ruby>一句<rt>いっく</rt>、詠み<rt>よ</rt>ましょう。</ruby></p>
  </div>
  
</div>

<a href="/about">GO-SHICHI-GOについて</a>
