<body>

  <!-- Navigation -->
  <nav class="navbar navbar-expand-lg navbar-dark fixed-top">
    <div class="container">
      <a class="navbar-brand" href="#">GO-SHICHI-GO</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarResponsive">
        <ul class="navbar-nav ml-auto">
          <li class="nav-item active">

            <% if @current_user %>
              <a class="nav-link" href="/posts/index">Home
            <% else %>
              <a class="nav-link" href="/">TOP画面
            <% end %>

              <span class="sr-only">(current)</span>
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/about">使い方ガイド</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="https://www.wantedly.com/users/39302754" target="_blank">Wantedly</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="https://twitter.com/kk_programming" target="_blank">Twitter</a>
          </li>
        </ul>
      </div>
    </div>
  </nav>

  <!-- Header -->
  <header class="bg-primary py-5 mb-5">
    
　
    <div class="new_title">

      <h1><ruby>「<rt></rt>一句<rt>いっく</rt>詠<rt>よ</rt>む」</ruby></h1>
      <h4>五七五の音で一句詠んでください</h4>
    </div>

    <div class="new_create">
      <%= form_tag("/posts/create") do %>

        <% @post.errors.full_messages.each do |message| %>
        <div class="form-error">
        <%= message %>
        </div>
        <% end %> 

      <p>初句（五音）</p>
      <input name="content1">
      <p></p>
      <p>二句（七音）</p>
      <input name="content2">
      <p></p>
      <p>結句（五音）</p>
      <input name="content3">
      <p></p>
      <p>詠み人からのメッセージ（任意）</p>
      <textarea name="message"></textarea><br><br>

      <!-- 投稿日を和暦に変換する -->
      <% @created_at_wareki = Date.today.strftime("%JF") %>
      <%= hidden_field_tag :created_at_wareki, @created_at_wareki %>

      <input class="btn outline btn-primary" type="submit" value="詠む">
      <% end %>
      <br>
    </div>
    
  </header>

  <!-- Footer -->
  <footer class="py-5">
    <div class="container">
      <p class="m-0 text-center text-white">Copyright &copy; Kanda Keisuke <a class="white" href="https://ja.wikipedia.org/wiki/2020年" target="_blank">2020</a></p>
    </div>
    <!-- /.container -->
  </footer>

  <!-- Bootstrap core JavaScript -->
  <script src="vendor/jquery/jquery.min.js"></script>
  <script src="vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

</body>