// Place all the styles related to the home controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/

.top-main{
    //writing-mode: vertical-rl; //縦書き文字の設定
    padding: 200px 0 300px; //とりあえず左記のように仮設定
    background-repeat: no-repeat;
    background-size: cover;
    //background-image: url("/壁紙１.jpg");
}

.flash{
    padding: 5px 0;
    color: white;
    background: #007bff;
    text-align: center;
    position: absolute;
    top: 64px;
    z-index: 10;
    width: 100%;
    border-radius: 0 0 2px 2px;
    font-size: 14px;
    opacity: 0.8;
}

.form-error{
    color: blue;
}

.vertical{
    writing-mode: vertical-rl;
    text-orientation: upright;
    color: white;
    margin: 0 auto;
}

.allview{
    background-image: url("/背景２.png");
    background-size: cover;
}

.container{
    background-color: #007bff;
    border-radius: 20px;
    opacity: 0.7;
}

.top_title{
    margin: 0 auto;
}

.movie-wrap {
    position: relative;
    padding-bottom: 56.25%; /*アスペクト比 16:9の場合の縦幅*/
    height: 0;
    overflow: hidden;
    margin: 0 auto;
    width: 50%;
}

.movie-wrap iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}
