.like-btn{
 color: #8899a6;
}

.like-btn-unlike{
 color: #ff2581;
}

.new_title{
    writing-mode: vertical-rl;
    color: white;
    float: right;
    padding-right: 480px;
}

.new_create{
    color: white;
    padding-left: 470px;
}

.index_logo{
    color: black;
    writing-mode: vertical-rl;
    padding-right: 530px;
    float: right;
}

.user_works{
    writing-mode: vertical-rl;
    text-orientation: upright;
    color: black;
}

.circle{
    border-radius: 100%;
}


