.like-btn{
 color: #8899a6;
}

.like-btn-unlike{
 color: #ff2581;
}

.new_title{
    writing-mode: vertical-rl;
    color: white;
    float: right;
    padding-right: 480px;
}

.new_create{
    color: white;
    padding-left: 470px;
}

.index_logo{
    color: black;
    writing-mode: vertical-rl;
    padding-right: 530px;
    float: right;
}

.user_works{
    writing-mode: vertical-rl;
    text-orientation: upright;
    color: black;
}

.circle{
    border-radius: 100%;
    opacity: 0.8;
}

.post_photo{
    width: 150px;
    height: 150px;
    border-radius: 50%;
    object-fit: cover;
}

.show_comment_logo{
    margin-left: 50%;
    color: #007bff;
}

.show_comment{
    color: white;
    margin-left: 35%;
}

.index_logo{
    color: white;
    padding-right: 100px;
    opacity: 0.9;
}

.post_index_works_font{
    font-size: 45px;
}

.btn-primary {
    background: white; //ボタンの背景色
    color: white; //ボタンのテキストの色
}

.btn-primary:hover, .btn-primary:focus, 
.btn-primary:active, .btn-primary:active:focus, .btn-primary:active:hover, .btn-primary:active.focus,
.btn-primary.active, .btn-primary.active:focus, .btn-primary.active:hover, .btn-primary.active.focus,
.open > .dropdown-toggle.btn-primary, 
.open > .dropdown-toggle.btn-primary:hover,
.open > .dropdown-toggle.btn-primary:focus, 
.open > .dropdown-toggle.btn-primary.focus,
.btn-primary.disabled:hover, .btn-primary[disabled]:hover, fieldset[disabled] .btn-primary:hover,
.btn-primary.disabled:focus, .btn-primary[disabled]:focus, fieldset[disabled] .btn-primary:focus,
.btn-primary.disabled.focus, .btn-primary[disabled].focus, fieldset[disabled] .btn-primary.focus {
    background: white; //ボタンの上にポインタを持ってきたり、クリックしたりした時の背景色
    color: white; //ボタンの上にポインタを持ってきたり、クリックしたりした時のテキストの色
}

.btn-primary.outline {
    border: 3px solid white; //アウトラインのみのボタンの線の色
    color: white; //アウトラインのみのボタンのテキストの色
}

.btn-white {
    color: white; //ボタンのテキストの色
}
.badge-primary{
    border: 3px solid white;
}