.user_show_info{
    writing-mode: vertical-rl;
    text-orientation: upright;
    color: black;
    margin: 0 0 0 auto;
}

.user_works{
    writing-mode: vertical-rl;
    text-orientation: upright;
    color: black;
    margin: 0 0 0 auto;
}
